@page "/afk-scene"

@if(string.IsNullOrWhiteSpace(Channel))
{
    <div>
        Please, provide channel name in query parameter
    </div>
}
else
{
    <div class='root' style='background: @(_afkScene.bg.Replace("\\", "").Replace("url(", "(").Replace(";", "\\;"));'>
        @foreach(var letter in _afkScene.symbols)
        {
            <span class='letter'
                style="
                    top: calc(50% + @(letter.y)px); 
                    left: calc(50% + @(letter.x)px);
                    font-size: @(letter.size)px;
                    color: @(letter.color);
                    text-shadow: @(letter.shadow);">
                @(letter.symbol)
            </span>
        }
    </div>
}
